@tailwind base;
@tailwind components;
@tailwind utilities;

@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer utilities {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  @layer components {
    h1 {
      @apply text-6xl tracking-tight font-bold;
    }

    h2 {
      @apply text-[32px] tracking-tight font-semibold;
    }

    h3 {
      @apply text-[28px] tracking-tight font-semibold;
    }

    h4 {
      @apply text-2xl;
    }

    h5 {
      @apply text-xl;
    }

    h6 {
      @apply text-base;
    }

    p {
      @apply text-xs;
    }

    .vt {
      @apply border-b border-sec-dark text-pri-light my-10 font-bold text-lg;
    }
  }
}
/* HAMBURGER ANIMATION */

.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.hamRotate.active {
  transform: rotate(45deg);
}

.hamRotate180.active {
  transform: rotate(180deg);
}

.line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: #000;
  stroke-width: 5.5;
  stroke-linecap: round;
}

.ham8 .top {
  stroke-dasharray: 40 160;
}

.ham8 .middle {
  /* stroke-dasharray: 40 142; */
  transform-origin: 50%;
  transition: transform 400ms;
}

.ham8 .bottom {
  stroke-dasharray: 40 85;
  transform-origin: 50%;
  transition: transform 400ms, stroke-dashoffset 400ms;
}

.ham8.active .top {
  stroke-dashoffset: -64px;
}

.ham8.active .middle {
  stroke-dashoffset: -20px;
  transform: rotate(90deg);
}

.ham8.active .bottom {
  stroke-dashoffset: -64px;
}

/* HAMBURGER ANIMATION */
<<<<<<< Updated upstream

/*Slider*/
.arrow {
  position: absolute;
  cursor: pointer;
}

.next {
  top: 50%;
  right: 0%;
}
.prev {
  top: 50%;
  left: 0%;
}

.slick-track {
  display: flex;
  gap: 40px;
}

.slick-list {
  width: 90%;
  margin: auto;
}

.image-container Image {
  margin: 0 auto;
}
/*Slider*/
=======
>>>>>>> Stashed changes
